.footer{
  margin-top: 80px;
  font-family:'LINESeedKR-Bd';
  font-size: 22px;
  text-align: center;
  font-weight: 50;
}
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 100px;
  font-style: normal;
}
